.checkboxHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.checkboxLabel {
  display: flex;
  align-items: center;
}

.checkboxLabel input {
  margin-right: 10px;
}

.selectedCount {
  font-size: 14px;
  color: #666;
}
